<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../style/header.css"/>
    <link rel="stylesheet" type="text/css" href="../style/main.css"/>
    <meta charset="UTF-8">
    <script type="module" src="../dist/menu.js"></script>
    <title>Регистрация</title>
</head>
<body>
<header class="header">
    <div class="header__icon">
    </div>
    <div class="header__content">
        <nav>
            <a href="#">Главная</a>
            <a href="#">Контакты</a>
            <a href="dashboard.ejs">Личный кабинет</a>
        </nav>
    </div>
    <img src="../images/header_icon.jpg" height="50px" width="50px">
    <i class="fas fa-bars"></i>
</header>

<div id="misc" style="margin-bottom: 40%;">

</div>


</body>
</html>